@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: hsl(75, 94%, 57%);
  --grey: hsl(0, 0%, 20%);
  --dark-grey: hsl(0, 0%, 12%);
  --off-black: hsl(0, 0%, 8%);
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  background-color: var(--off-black);
  color: white;
  display: flex;
  flex-direction: column;
  grid-template-rows: auto 1 fr auto;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background-color: var(--dark-grey);
  padding: 1.5rem;
  max-width: 350px;
  width: 100%;
}

img {
  border-radius: 100%;
  max-width: 90px;
  margin-top: 0.5rem;
  margin-bottom: 1.7rem;
}

#name {
  font-weight: 600;
  margin-bottom: 0.75rem;
}

#location {
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 2.5rem;
}

#bio {
  font-weight: 400;
  margin-bottom: 1.25rem;
}

ul {
  width: 100%;
}

ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.75rem 0.5rem;
}

ul li button {
  background-color: var(--grey);
  border: none;
  padding: 1rem;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
}

ul li button:focus,
ul li button:hover {
  background-color: var(--primary-color);
  color: var(--off-black);
}

footer {
  left: 0;
  bottom: 0;
  position: static;
  text-align: center;
  width: 100%;
  font-size: 10px;
  padding: 7px 0;
}

footer a {
  color: white;
}

@media screen and (max-width: 450px) {
  main {
    width: auto;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
